<div class="container-fluid pt-5 pb-5">

  <div class="container">

    <div class="row d-flex align-items-center">

      <div class="col-md-6">

        <h1 class="text-center text-uppercase font-weight-bold">Entscheidungsproblem</h1>

        <p>O raciocínio lógico encapsula a inferência lógica, encontrada principalmente em provas matemáticas, e é
          conhecida como
          lógica de primeira ordem. Nesta estrutura, as proposições são 'proposições' que combinam os símbolos dos
          termos lógicos
          básicos (não todos eles) com os símbolos não lógicos do assunto particular em discussão.</p>
        <p>Este problema de decisão pode ser formulado de três maneiras equivalentes.</p>

        <ol>

          <li>Encontrar um algoritmo para determinar se uma determinada declaração de lógica de primeira ordem é válida,
            ou seja,
            verdadeira, independentemente do objeto ou relação específica que discute.</li>
          <li>Encontrar um algoritmo para determinar se uma determinada proposta na lógica de primeira ordem é
            satisfatória, ou seja,
            verdadeira, para um determinado objeto ou relação.</li>
          <li>Dada uma proposta em lógica de primeira ordem e outra proposta que é uma conclusão esperada, encontre um
            algoritmo para
            determinar se esta conclusão pode ser provada a partir das premissas usando as regras de prova da lógica de
            primeira
            ordem.</li>

        </ol>

        <p>Como a proposta A só é válida se não-A for insatisfatória, é claro que as duas primeiras são equivalentes.
            Para provar
            que a terceira formulação é equivalente às duas primeiras, de acordo com o teorema de integralidade da tese
            de Gödel,
            proposição A e premissas P1, P2,... são equivalentes. e Pn, é suficiente para mostrar que é uma conseqüência
            lógica do
            Pn.</p>
          <p>Se pensarmos nestas premissas como axiomas em matemática, podemos ver que um verdadeiro algoritmo para
            resolver
            problemas de decisão pode, pelo menos em princípio, reduzir todas as matemáticas à computação mecânica. Esta
            pode ser a
            razão pela qual Hilbert chamou o problema da decisão de "o problema fundamental da lógica matemática". Isto
            foi
            suficiente para convencer G.H. Hardy de que tal algoritmo não poderia existir. Ele disse:</p>
          <p>É claro que não existe tal teorema, e isto é muito feliz, pois se houvesse um conjunto mecânico de regras
            para a solução de todos os problemas matemáticos, e nossas atividades como matemáticos chegariam ao fim.</p>
          <p> Em um contexto diferente, Poincaré deixou claro que achava ridícula toda a idéia de formalização da
            matemática:</p>
          <p>"Assim, para provar um teorema, podemos facilmente ver que é desnecessário, mesmo inútil, saber o que ele
            significa.
            Como a máquina mítica de Chicago, onde um porco entra vivo e sai como presunto e salsicha, pode-se imaginar
            uma máquina
            que coloca axiomas de um lado e teoremas do outro. Como estas máquinas, os matemáticos não precisam saber o
            que estão
            fazendo2.</p>
          <p>Se de fato uma solução do Entscheidungsproblem tivesse reduzido toda a matemática ao cálculo mecânico,
            então da existência de qualquer problema matemático comprovadamente algorítmico insolúvel, a própria
            insolvabilidade do Entscheidungsproblem deveria seguir-se. As provas de insolvabilidade da Church e da
            Turing seguem esta abordagem.</p>

      </div>

      <div class="col-md-6">

        <img src="https://i.imgur.com/Vl09yTv.jpg" alt="">

      </div>

    </div>

  </div>


</div>
