<div class="container-fluid notfound pt-5">

  <div class="container mt-5 pt-5 ">

    <div class="row d-flex justify-content-center mt-5 pt-5">

      <div class="col-md-8">

        <div class="row">Microsoft Windows [versão 10.0.19043.1766]</div>
        <div class="row">(c) Microsoft Corporation. Todos os direitos reservados.</div>
        <div class="row">C:\Users\GrupoZero>(insert)tasklist (enter/continue)</div>
        <div class="row">&nbsp;</div>
        <div class="row">(text to appear)</div>
        <div class="row">Nome da imagem Identifi Nome da sessão Sessão# Uso de memór</div>
        <div class="row">========================= ======== ================ =========== ============</div>
        <div class="row">Entscheidungsproblem 1 Services 0 469.172 K</div>
        <div class="row">C:\Users\GrupoZero>(insert)start bombe (enter/continue)</div>
        <div class="row">&nbsp;</div>
        <div class="centered"><a routerLink="/simulator" class="text-decoration-none text-white">Press here to continue...</a> <span class="blink">&#9608;</span></div>

      </div>

    </div>

  </div>

</div>
