<div class="bg-login padding-bottom">
    <div class="container bg-color">
      <div class="row d-flex justify-content-center">
        <div class="col-sm-8">
          <div class="container">
            <div class="row d-flex justify-content-center mt-5">
              <div class="col-12 col-md-8 col-lg-6 col-xl-5 mt-5">
                <div class="card py-3 px-2 bg-form">
                  <div class="division">
                    <div class="row">
                      <div class="col-3">
                        <div class="line l"></div>
                      </div>
                      <div class="col-6 text-white mb-3"><span>Ataehpdcdc</span></div>
                      <div class="col-3">
                        <div class="line r"></div>
                      </div>
                    </div>
                  </div>
                  <form class="myform">
                    <div class="form-group"> <input [(ngModel)]="userLogin.email" type="text" class="form-control" name="email" placeholder="Your User"
                        autocomplete="off"> </div>
                    <div class="form-group"> <input [(ngModel)]="userLogin.password" type="password" class="form-control" name="password"
                        placeholder="Your Password" autocomplete="off">
                    </div>
                    <div class="form-group mt-3 text-center"> <button type="button" (click)="login()"
                        class="btn btn-block btn-primary btn-lg">Entrar</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row d-flex justify-content-center">
        <div class="col-sm-6 mt-5 pt-5">
          <p class="animated-text">01010111 01100101 01101100 01100011 01101111 01101101 01100101 00100000 01010100
            01101111 00100000 01000001 01110100 01100001 01100101 01101000 01110000 01100100 01100011 01100100 01100011
          </p>
        </div>
      </div>
    </div>
  
  </div>
  