<div class="header">
  <div class="container-fluid">
    <div class="container d-flex align-items-center mt-4">
      <a routerLink="/home">@G0</a>
      <ul class="navBar ml-auto">
        <li><a class="mr-2 pr-2 text-center" routerLink="/login">Simulador</a></li>
        <li><a class="ml-2 pl-2 text-center" routerLink="/alan-turing">Alan Turing</a></li>
        <li><a class="ml-2 pl-2 text-center" routerLink="/von-neumann">Von Neumann</a></li>
        <li><a class="ml-2 pl-2 text-center" routerLink="/eniac-mit">ENIAC</a></li>
        <li><a class="ml-2 pl-2 text-center" routerLink="/entscheidungsproblem">Entscheidungsproblem</a></li>
        <li><a class="ml-2 pl-2 text-center" href="#integrantes">Integrantes</a></li>
        <li><a class="ml-2 pl-2 text-center" routerLink="/referencias">Referências</a></li>
      </ul>
    </div>
  </div>
</div>
