<div class="intro" id="intro">
    <div class="container">
        <div class="title">
            <h1 class="titleHomeB">O que foi o ENIAC</h1>
        </div>
        <div class="sides d-flex align-items-center">
            <div class="leftSide">
                <img
                    src="https://i.imgur.com/mOABnKC.jpg">
            </div>
            <div class="rightSide">
                <p>Este imenso computador que ocupou uma sala inteira num porão da escola de engenharia elétrica de
                    Moore da Universidade da Pensilvânia foi o primeiro computador digital eletrônico programável da
                    história. Com o custo de quatrocentos mil dólares para o governo americano ela tinha o intuito
                    de fazer diversos cálculos para a segunda guerra, que acabou antes da conclusão da máquina.
                    Apesar dela não ter atuado em seu objetivo inicial, ela foi o dispositivo de cálculo mais
                    poderoso da época, capaz de executar e alterar a ordem de instruções com base em outros dados. A
                    máquina era formada por mais de 17 mil tubos de vácuos, 6 mil interruptores, 10 mil capacitores
                    e 70 mil resistores, conseguindo calcular mais de 5 mil adições por segundo. A grande
                    genialidade do maquinário era acompanhada de uma reinicialização maçante, levando dias para
                    religar e reescrever a máquina para um novo problema.
                    A máquina foi operada até outubro de 1955 quando seu funcionamento complexo acabou se tornando
                    obsoleto, ela então foi desmontada e algumas de suas partes são encontradas até hoje na
                    faculdade da Pensilvânia.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="intro" id="intro">
    <div class="container">
        <div class="title">
            <h1 class="titleHomeB">Criação</h1>
        </div>
        <div class="sides d-flex align-items-center">

            <div class="rightSide">
                <p>
                    Usando como base o decodificador de <a
                        routerLink="/alan-turing">Alan Turing</a>, a
                    arquitetura de <a routerLink="/von-neumann">Von
                        Neumann</a> e a máquina eletro
                    mecânica de Harvard <a href="https://www.britannica.com/technology/Harvard-Mark-I">(Mark 1)</a>,
                    o físico <a href="https://www.britannica.com/biography/John-Mauchly">John Mauchly</a> e o
                    engenheiro <a href="https://www.britannica.com/biography/J-Presper-Eckert-Jr">John Eckert</a>
                    desenvolveram sob
                    contrato do exército americano (ainda na segunda guerra mundial) a primeira máquina eletro
                    eletrônica, o ENIAC.
                    Para entender a funcionalidade deixamos como referência um livro do MIT que explica o
                    funcionamento exato da máquina: <a href="https://booksverse.store/?book=0262535173">
                        Eniac in Action: Making and Remaking the Modern Computer</a>
                </p>
            </div>
            <div class="leftSide">
                <img src="https://i.imgur.com/TPpP3YO.jpg">
            </div>
        </div>
    </div>
</div>
<div class="intro" id="intro">
    <div class="container">
        <div class="title">
            <h1 class="titleHomeB">Impacto</h1>
        </div>
        <div class="sides d-flex align-items-center d-flex align-items-center">
            <div class="leftSide">
                <img src="https://i.imgur.com/CAJLFEi.jpg">
            </div>
            <div class="rightSide">
                <p> O impacto do ENIAC veio em formato de evolução, já que, literalmente após a criação dele,
                    conseguimos um conjunto de cálculos que consegue pensar por conta própria.
                    Os cálculos e operações utilizados no ENIAC acompanham as máquinas até hoje em dia. A diferença
                    se encontra na evolução das máquinas em si, com melhores processadores, funções, memórias, etc.
                    Mas tudo se baseia no ínicio, e em um dos pioneiros, que foi no caso o ENIAC.
                </p>
            </div>
        </div>
    </div>
</div>
