<div class="container-fluid bg-simulator pb-5 pt-5">

    <div class="container pb-5 mb-5">

        <div class="row d-flex justify-content-center">
            <div class="col-sm-6 mt-5 pt-5">
                <p class="animated-text">Seja Bem Vindo Ao Nosso Tradutor De Binário
                </p>
            </div>
        </div>



        <div class="row pt-5 mt-5">

            <div class="col-md-6">

                <textarea class="binarytexts" name="binario" id="text1" cols="40" rows="4"></textarea>
                <div class="form-group mt-3 text-center"> <button class="btn buttonsbinary"
                        onclick="decodificar()">Codifique seu texto</button>
                </div>
                <div id="newtextbinary"></div>

            </div>

            <div class="col-md-6">

                <textarea class="binarytexts" name="binario" id="text2" cols="40" rows="4"></textarea>

                <div class="form-group mt-3 text-center"> <button class="btn buttonsbinary"
                        onclick="codificar()">Descodificar binário</button>
                </div>

            </div>

        </div>

        <div class="row pt-5 mt-5">

            <div class="col-md-12">

                <a class="link-oculto" href="https://matth998.github.io/Ataehpdcdc-quiz/" target="_blank">Se vc achou esse link, faça nosso quiz</a>

            </div>

        </div>

    </div>
</div>