<div class="intro" id="intro">
    <div class="container">
        <div class="title">
            <h1 class="titleHomeB">Quem foi Von Neumann</h1>
        </div>
        <div class="sides">
            <div class="leftSide">
                <img src="https://i.imgur.com/2EhlHuP.jpg">
            </div>
            <div class="rightSide">
                <p>Nascido no final de 1903, János Neumann, que no futuro mudou seu nome para John Von Neumann,
                    cresceu de uma criança prodígio para um dos mais influentes matemáticos aos vinte e poucos anos.
                    No início de sua carreira, o matemático disparou na área de pesquisas quando forneceu a
                    definição de números ordinais e embora a tentativa dele de axiomatizar a matemática tenha sido
                    quebrada pelos Teoremas da incompletude de Gödel, Neumann não desistiu e continuou na carreira
                    acadêmica influenciando praticamente todas as principais áreas da matemática, com exceção da
                    Topologia e a Teoria dos Números.
                    Entre suas pesquisas talvez uma das mais notáveis além da “Arquitetura de Von Neumann” seria a
                    "Teoria dos Jogos", uma pesquisa que usa com base o blefe para provar que um jogo finito de soma
                    zero entre duas pessoas lógicas podem chegar a uma estratégia na qual os jogadores ficam
                    confiantes que suas decisões são as melhores possíveis no cenário.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="intro" id="intro">
    <div class="container">
        <div class="title">
            <h1 class="titleHomeB">Arquitetura</h1>
        </div>
        <div class="sides">

            <div class="rightSide">
                <p>Em 1945 Von Neumann tinha premissa de dar mais funcionalidade aos computadores, fazendo com que
                    eles executassem mais de um programa por vez, e então com outros renomados cientistas criou um
                    esquema de computador IAS, que futuramente ficou conhecido como Arquitetura de Von Neumann.
                    Os três principais componentes que formam o Computador IAS são os mesmos apresentados na teoria
                    da Máquina de Turing, ou seja, memória, dispositivo de entrada/saída e unidade central de
                    processamento, que por si só é composta por outros componentes como ALU(unidade aritmética e
                    lógica) e o CU(Unidade de Controle).
                    O ciclo de execução de um programa tem início em seus registradores, onde a unidade de controle
                    utiliza o contador de programa para a próxima instrução e a procura na memória principal. A
                    instrução então é decodificada para uma linguagem que o ALU possa interpretar e transfere os
                    dados requeridos da memória para os registradores da CPU, então o ALU executa a instrução e
                    guarda os resultados na memória ou nos registradores.
                </p>
            </div>
            <div class="leftSide">
                <img src="https://f.i.uol.com.br/fotografia/2020/02/04/15808438565e39c350888f9_1580843856_3x2_md.jpg">
            </div>
        </div>
    </div>
</div>
<div class="intro" id="intro">
    <div class="container">
        <div class="title">
            <h1 class="titleHomeB">Impacto</h1>
        </div>
        <div class="sides">
            <div class="leftSide">
                <img src="https://i.imgur.com/qhGbaBn.jpg">
            </div>
            <div class="rightSide">
                <p>Apesar de contornar o problema em relação às multitarefas dos computadores, o fluxo de informação
                    na memória não conseguia acompanhar a velocidade da CPU, deixando-a muitas vezes ociosa, esse
                    efeito ficou conhecido como "Gargalo de Von Neumann".
                    O problema de decisão tinha intuito de questionar se havia um algoritmo genérico para os
                    enunciados da lógica de primeira ordem, um sistema formado por axiomas e regras. Apesar de
                    improvável era muito difícil chegar a qualquer resultado pela falta da definição de o'que seria
                    um Algoritmo, esse problema foi resolvido Alonzo Church e seu conceito de calculabilidade
                    efetiva que usou como base seu proprio cálculo de Lambda.
                    Após isso se tornou muito mais fácil trabalhar os enunciados utilizando o conceito de Church e
                    no mesmo ano ele conseguiu provar que era impossível criar um algoritmo universal para os
                    enunciados da lógica de primeira ordem.
                    Mais tarde no mesmo ano um aluno de Church, conhecido como Alan Turing, utilizou uma metodologia
                    distinta, usando sua própria teoria de máquinas hipotéticas, para comprovar que realmente era
                    impossível esse tal algoritmo.
                </p>
            </div>
        </div>
    </div>
</div>
