<div class="container-fluid pt-5 pb-5">

  <div class="container">

    <div class="row d-flex justify-content-center">

      <div class="col-md-7">
        <ul>

          <li><a class="text-decoration-none text-dark" href="https://pt.wikipedia.org/wiki/Alan_Turing">Alan Turing</a>
          </li>
          <li><a class="text-decoration-none text-dark"
              href="https://brasilescola.uol.com.br/biografia/alan-mathison.htm">Alan Turing - Biografia</a></li>
          <li><a class="text-decoration-none text-dark"
              href="https://revistagalileu.globo.com/Cultura/noticia/2018/06/17-fatos-e-curiosidades-sobre-vida-do-alan-turing.html">17
              fatos e curiosidades sobre a vida do Alan Turing</a></li>
          <li><a class="text-decoration-none text-dark" href="https://www.ebiografia.com/alan_turing/">Biografia de Alan
              Turing</a></li>
          <li><a class="text-decoration-none text-dark"
              href="https://aventurasnahistoria.uol.com.br/noticias/reportagem/conheca-5-fatos-sobre-alan-turing-o-genio-torturado-que-inventou-computacao.phtml">CONHEÇA
              5 FATOS SOBRE ALAN TURING, O GÊNIO TORTURADO QUE INVENTOU A COMPUTAÇÃO</a></li>
          <li><a class="text-decoration-none text-dark" href="https://www.youtube.com/watch?v=YIkKbMcJL_4">O Jogo da
              Imitação</a></li>
          <li><a class="text-decoration-none text-dark" href="https://pt.wikipedia.org/wiki/ENIAC">ENIAC</a></li>
          <li><a class="text-decoration-none text-dark"
              href="https://tecnoblog.net/especiais/eniac-primeiro-computador-do-mundo-completa-65-anos/">A história do
              ENIAC, o primeiro computador do mundo</a></li>
          <li><a class="text-decoration-none text-dark"
              href="https://www.hardware.com.br/guias/historia-informatica/eniac.html">O ENIAC</a></li>
          <li><a class="text-decoration-none text-dark" href="https://pt.wikipedia.org/wiki/John_von_Neumann">John von
              Neumann</a></li>
          <li><a class="text-decoration-none text-dark"
              href="https://www3.unicentro.br/petfisica/2020/05/29/john-von-neumann-1903-1957/">John Von Neumann
              (1903-1957)</a></li>
          <li><a class="text-decoration-none text-dark"
              href="https://www.scielo.br/j/ea/a/DsFyHhVJ6krf5vjzVjx3dRR/?lang=pt">Von Neumann: suas contribuições à
              Computação
            </a></li>
          <li><a class="text-decoration-none text-dark"
              href="https://www.somatematica.com.br/biograf/vonneumann.php">John Von Neumann</a></li>
          <li><a class="text-decoration-none text-dark"
              href="https://medium.com/trainingcenter/a-arquitetura-de-von-neumann-121489873fd4">A arquitetura de Von
              Neumann</a></li>
          <li><a class="text-decoration-none text-dark"
              href="https://embarcados.com.br/arquitetura-de-john-von-neumann/">Arquitetura de John Von Neumann</a></li>
          <li><a class="text-decoration-none text-dark" href="https://pt.wikipedia.org/wiki/Harvard_Mark_I">Harvard Mark
              I</a><br></li>
          <li><a class="text-decoration-none text-dark"
              href="http://opentranscripts.org/transcript/working-on-eniac-lost-labors-information-age/">Working on
              ENIAC: The Lost Labors of the Information Age</a></li>
          <li><a class="text-decoration-none text-dark"
              href="https://www.britannica.com/biography/Alan-Turing/Computer-designer">Alan Turing Computer
              designer</a></li>
          <li><a class="text-decoration-none text-dark"
              href="https://en.wikipedia.org/wiki/Entscheidungsproblem">Entscheidungsproblem</a></li>
          <li><a class="text-decoration-none text-dark"
              href="https://www.sciencedirect.com/topics/mathematics/entscheidungsproblem">Entscheidungsproblem</a></li>
          <li><a class="text-decoration-none text-dark"
              href="http://www.insecure.net.br/geracoes_computadores.pdf">Geracoes Computadores</a></li>
          <li><a class="text-decoration-none text-dark" href="https://www.britannica.com/technology/ENIAC">ENIAC</a>
          </li>
          <li><a class="text-decoration-none text-dark"
              href="https://www.britannica.com/technology/Harvard-Mark-I">Harvard Mark-I</a></li>
          <li><a class="text-decoration-none text-dark" href="https://www.britannica.com/biography/John-Mauchly">John
              Mauchly</a></li>
          <li><a class="text-decoration-none text-dark"
              href="https://www.britannica.com/biography/J-Presper-Eckert-Jr">J Presper Eckert Jr</a></li>



        </ul>
      </div>

    </div>


  </div>

</div>
