<div class="intro" id="intro">
  <div class="container">
    <div class="title">
      <h1 class="titleHomeB">Introdução</h1>
    </div>
    <div class="sides d-flex align-items-center">
      <div class="leftSide">
        <img src="https://i.imgur.com/Zkbeoe7.jpg">
      </div>
      <div class="rightSide">
        <p>Apesar da ideia de computadores serem algo relativamente novo na história da humanidade a ideia
          de computar, guardar e organizar valores já é algo presente na vida das pessoas desde sempre.
          Utilizando Ábacos e Réguas de cálculos, os humanos sempre buscaram métodos para facilitar e
          automatizar operações aritméticas, que também pode ser lido como “Computar”. <a
            href="http://www.ic.uff.br/~aconci/evolucao.html#:~:text=Em%201946%2C%20surge%20o%20Eniac,realiza%204.500%20c%C3%A1lculos%20por%20segundo.">¹</a>
          A automatização teve início no século 17, com a utilização de cartões perfurados em teares para
          produção de padrões complexos e já no final do século 18 havia sido produzido o primeiro
          computador mecânico por Hermann Hollerith <a
            href="https://www.britannica.com/biography/Herman-Hollerith">²</a>, utilizado para calcular
          o censo populacional dos EUA.
          Um pouco antes da segunda guerra mundial o alemão Konrad Zuse <a
            href="https://www-britannica-com.translate.goog/technology/Zuse-computer#ref1009906">³</a>
          criou o primeiro computador elétrico utilizando da teoria binária de George Boole, apesar de
          todas as máquinas pré guerra não passassem de calculadoras a máquina de Konrad foi o primeiro
          processador controlado por um programa.

          Referências: <a
            href="http://www.ic.uff.br/~aconci/evolucao.html#:~:text=Em%201946%2C%20surge%20o%20Eniac,realiza%204.500%20c%C3%A1lculos%20por%20segundo.">¹</a>,
          <a href="https://www.britannica.com/biography/Herman-Hollerith">²</a>, <a
            href="https://www-britannica-com.translate.goog/technology/Zuse-computer#ref1009906">³</a>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="introTuring" id="introTuring">
  <div class="container pb-5 pt-5">
    <div class="title mt-3 mb-3">
      <h1 class="titleHomeW">Alan Turing</h1>
    </div>
    <div class="sides d-flex align-items-center">
      <div class="leftSide">
        <p>A <a href="https://www.britannica.com/technology/Turing-mach">Máquina de Turing</a> é um
          computador hipotético para calcular <a
            href="https://www.britannica.com/topic/undecidable-proposition">proposições indecidíveis</a>
          nos Teoremas da <a
            href="https://www.britannica.com/science/foundations-of-mathematics/Recursive-definitions#ref412227">incompletude
            de Gödel</a> e apesar dela apresentar o <a href="https://stringfixer.com/pt/Halting_problem">problema de
            parada</a> por conta do modelo
          proposto ele conseguiu provar que nunca poderá existir nenhum método algorítmico universal para
          determinar se uma proposição é indecidível. Além disso, o modelo desse computador hipotético foi
          um ponto essencial de partida para definição de atributos básicos para o processamento de
          informações, sendo eles os dispositivos de entrada/saída (fita e leitor), memória (armazenamento
          do mecanismo de controle) e unidade central de processamento (mecanismo de controle).
          <br><a routerLink="/alan-turing"><b><u>Saiba mais &#10132; </u></b></a>
        </p>
      </div>
      <div class="rightSide">
        <img src="https://i.imgur.com/Ks9Tvj1.jpg">
      </div>
    </div>
  </div>
</div>

<div class="introNeumann" id="introNeumann">
  <div class="container">
    <div class="title">
      <h1 class="titleHomeB">Von Neumann</h1>
    </div>
    <div class="sides d-flex align-items-center">
      <div class="leftSide">
        <img src="https://i.imgur.com/2EhlHuP.jpg">
      </div>
      <div class="rightSide">
        <p>Com a premissa de dar mais funcionalidade aos computadores, fazendo com que eles executassem mais
          de um programa por vez, <a href="https://www-britannica-com.translate.goog/technology/von-Neumann-machine">Von
            Neumann
            criou um esquema de computador IAS</a>, que futuramente ficou conhecido como Arquitetura de
          Von Neumann.
          Os três principais componentes que formam o Computador IAS são os mesmos apresentados na teoria
          da Máquina de Turing, ou seja, memória, dispositivo de entrada/saída e unidade central de
          processamento, que por si só é composta por outros componentes como ALU(unidade aritmética e
          lógica)<a
            href="http://www.esalq.usp.br/lepse/imgs/conteudo_thumb/A-Arquitetura-de-computador-de-von-Neumann.pdfa">¹</a>
          e o CU(Unidade de Controle)<a
            href="http://www.esalq.usp.br/lepse/imgs/conteudo_thumb/A-Arquitetura-de-computador-de-von-Neumann.pdfa">¹</a>.
          O ciclo de execução de um programa <a
            href="https://medium.com/trainingcenter/a-arquitetura-de-von-neumann-121489873fd4">²</a> tem
          início em seus registradores, onde a unidade de
          controle utiliza o contador de programa para a próxima instrução e a procura na memória
          principal. A instrução então é decodificada para uma linguagem que o ALU possa interpretar e
          transfere os dados requeridos da memória para os registradores da CPU, então o ALU executa a
          instrução e guarda os resultados na memória ou nos registradores.
          Apesar de contornar o problema em relação às multitarefas dos computadores, o fluxo de
          informação na memória não conseguia acompanhar a velocidade da CPU, deixando-a muitas vezes
          ociosa.

          Referências: <a
            href="http://www.esalq.usp.br/lepse/imgs/conteudo_thumb/A-Arquitetura-de-computador-de-von-Neumann.pdfa">¹</a>,
          <a href="https://medium.com/trainingcenter/a-arquitetura-de-von-neumann-121489873fd4">²</a>
          <br><a routerLink="/von-neumann"><b><u>Saiba mais &#10132; </u></b></a>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="introENIAC" id="introENIAC">
  <div class="container">
    <div class="title">
      <h1 class="titleHomeW">ENIAC - MIT</h1>
    </div>
    <div class="sides d-flex align-items-center">
      <div class="leftSide">
        <p>Em 14 de fevereiro de 1946, os pesquisadores Norte americanos John Eckert (Engenheiro) e John Mauchly
          (Físico) que pertenciam a Electronic Control Company, mostraram ao mundo o primeiro computador eletrônico
          digital de larga escala.
            <br>
          Pesando aproximadamente 30 toneladas e com uma área de ocupação de 180 m² na Universidade de Pensilvânia, foi
          desenvolvido a pedido do exército americano para calcular com maior precisão as trajetórias de mísseis, este
          computador era o Eletronic Numerical Integrator And Computer (ENIAC). Ele contava com um hardware com 70 mil
          resístores e 18 mil válvulas de vácuo, seu sistema operacional funcionava a base de cartões perfurados, que
          eram operados por funcionários do exército, assim podemos classificar também como os primeiros programadores.
          ENIAC teve sua memória construída pela Burroughs Corporation, apesar de sua capacidade de operação baixa e se
          comparado com computadores de 2005 para cima, seu poder de processamento ser menor do que uma simples
          calculadora de bolso, foi capaz de realizar aproximadamente 5 mil adições e 360 multiplicações por segundo.
          <br><a routerLink="/eniac-mit"><b><u>Saiba mais &#10132; </u></b></a>
        </p>
      </div>
      <div class="rightSide">
        <img src="https://i.imgur.com/3apfUbN.jpg">
      </div>
    </div>
  </div>
</div>

<div class="introEnt" id="introEnt">
  <div class="container">
    <div class="title">
      <h1 class="titleHomeB">Entscheidungsproblem</h1>
    </div>
    <div class="sides d-flex align-items-center">
      <div class="leftSide">
        <img src="https://i.imgur.com/Vl09yTv.jpg">
      </div>
      <div class="rightSide">
        <p>O Problema de Decisão(Entscheidungsproblem) utiliza dos modelos apresentados nos Teoremas da incompletude de
          Gödel(Gödel's incompleteness theorems) para questionar se existe algum algoritmo que pode se provar verdadeiro
          independente do modelo aplicado. <br>
          O problema proposto em 1928 foi respondido 8 anos depois, por Alonzo Church e Alan Turing. Enquanto Alonzo
          utilizou do cálculo de Lambda, Turing baseou seus argumentos em suas máquinas teóricas, futuramente conhecidas
          como Máquinas de Turing, para provar seu ponto. Apesar das metodologias distintas os dois chegaram à mesma
          conclusão, tal algoritmo é impossível dentro da Teoria Aritmética.
          <br><a routerLink="/entscheidungsproblem"><b><u>Saiba mais &#10132; </u></b></a>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="integrantes" id="integrantes">
  <div class="container">
    <h1 class="titleHomeW">Integrantes</h1>
    <h4>Aqui contém o número do RA e o nome de todos os integrantes do grupo.</h4>
    <div class="blocoCards">
      <div class="cardIntegrantes">
        <img src="https://i.imgur.com/vTt6T35.jpg">
        <h2>2202929</h2>
        <h3> Julia Maria Espinosa</h3>
      </div>
      <div class="cardIntegrantes">
        <img src="https://i.imgur.com/MJwufvq.jpg">
        <h2>2202767</h2>
        <h3>Matheus da Silva Oliveira</h3>
      </div>
      <div class="cardIntegrantes">
        <img src="https://i.imgur.com/wsoIQ7K.jpg">
        <h2>2203114</h2>
        <h3>José Felipe Paganelli Velloso</h3>
      </div>
      <div class="cardIntegrantes">
        <img src="https://i.imgur.com/pIBp1IH.jpg">
        <h2>2202751</h2>
        <h3>Giovanni Di Cunto de Carvalho</h3>
      </div>
      <div class="cardIntegrantes">
        <img src="https://i.imgur.com/HBlUsJk.jpg">
        <h2>B</h2>
        <h3>Lucas Lauro Santana Vilela</h3>
      </div>
    </div>
  </div>
</div>
