<div class="intro" id="intro">
  <div class="container">
    <div class="title">
      <h1 class="titleHomeB">Quem foi Alan Turing</h1>
    </div>
    <div class="sides d-flex align-items-center">
      <div class="leftSide">
        <img src="https://i.imgur.com/Ks9Tvj1.jpg">
      </div>
      <div class="rightSide">
        <p>Alan Turing foi um matemático e criptógrafo inglês que hoje é considerado o pai da ciência da computação
          porque suas ideias possibilitaram o desenvolvimento do que hoje chamamos de computadores. Turing também era
          conhecido como um dos responsáveis ​​por quebrar o código usado pelas comunicações nazistas durante a Segunda
          Guerra Mundial.

          Graças ao seu trabalho, foi desenvolvida uma máquina conhecida como "The Bombe", que decifrou o código de
          máquina Enigma usado pelos alemães e deu aos Aliados acesso a informações privilegiadas durante toda a guerra.
          Turing morreu em 1954, possivelmente por suicídio.

          Referências: <a href="https://www.ebiografia.com/alan_turing/"></a>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="intro" id="intro">
  <div class="container">
    <div class="title">
      <h1 class="titleHomeB">The Bombe</h1>
    </div>
    <div class="sides d-flex align-items-center">

      <div class="rightSide">
        <p>A máquina Turing construída, uma bomba eletro-mecânica, foi usada para decifrar mensagens
          enviadas pelos alemães, que foram criptografadas por outra máquina chamada Enigma. As mensagens eram enviadas
          como ondas de rádio, para que pudessem ser facilmente interceptadas em Bletchley Park".

          "A bomba era um enorme computador eletromecânico que pesava quase uma tonelada e cerca de um metro de altura.
          Na frente da máquina havia 108 fusos, divididos em nove fileiras, com 12 soquetes para tambores. Os tambores
          eram programados manualmente com cartões com pequenos furos e girados simultaneamente com letras
          correspondentes a mensagens digitadas três letras de cada vez.

          O tambor inicia a combinação com uma determinada letra e, ao final de cada ciclo, sua posição se move para a
          letra seguinte, e o ciclo se repete. Um total de 17.576 posições diferentes passam por cada ciclo. Graças à
          pesquisa de Turing, agora sabemos como funcionava a máquina que encriptava as mensagens nazistas antes que
          elas fossem decifradas.

          Referências: <a
            href="http://www.ic.uff.br/~aconci/evolucao.html#:~:text=Em%201946%2C%20surge%20o%20Eniac,realiza%204.500%20c%C3%A1lculos%20por%20segundo.">
            Lorem</a>
        </p>
      </div>
      <div class="leftSide">
        <img src="https://i.imgur.com/Zkbeoe7.jpg">
      </div>
    </div>
  </div>
</div>
<div class="intro" id="intro">
  <div class="container">
    <div class="title">
      <h1 class="titleHomeB">Impacto</h1>
    </div>
    <div class="sides d-flex align-items-center">
      <div class="leftSide">
        <img src="https://i.imgur.com/GP1QmZ2.jpg">
      </div>
      <div class="rightSide">
        <p>A primeira bomba eletromecânica, desenvolvida pela pesquisa de Alan Turing, foi concluída em março de 1940 e
          denominada "Victory". A máquina, baseada em um modelo desenvolvido por Alan Turing, proporcionou uma vantagem
          estratégica crucial para os Aliados na Segunda Guerra Mundial. Sobre a máquina.

          As mensagens decifradas pela bomba de Turing faziam parte do Serviço de Inteligência Britânico "Ultra", que
          era encarregado de interceptar e decodificar as mensagens provenientes dos sistemas de comunicação da Axis. O
          Ultra desempenhou um papel de liderança na interceptação das comunicações alemãs e ajudou a decifrar os
          códigos japoneses.

          Era um enorme departamento com 6.000 funcionários, dos quais Alan Turing era um dos mais importantes. Devido a
          sua importância, o departamento era conhecido apenas pelos mais altos escalões do governo e militares
          britânicos. O líder soviético Stalin, por exemplo, nunca soube como os britânicos obtinham informações da
          Alemanha.

          O historiador Max Hastings afirma que o Ultras (incluindo bombas eletro-mecânicas) impediu a destruição de
          aproximadamente 2 milhões de toneladas de embarcações navais britânicas somente no final de 1941.

          Isto é muito importante, pois em 1940-1941, quando os franceses foram rapidamente derrotados, os britânicos
          lutaram sozinhos. As ilhas britânicas isoladas foram logo cercadas por submarinos alemães chamados submarinos
          U-boats, que afundaram os navios de abastecimento britânicos. A bomba atômica foi uma forma de contornar este
          problema.

          Em 1943, uma máquina desenvolvida pela Turing provou seu valor para a inteligência britânica ao decifrar cerca
          de 84.000 mensagens por mês enviadas pelos alemães via Enigma.

          Os sistemas criptográficos desenvolvidos por Turing e sua equipe, bem como o trabalho do Ultra, também
          contribuíram para as batalhas no Norte da África, na Grécia e na Normandia. Turing e suas invenções não só
          contribuíram para a vitória, como encurtaram a Segunda Guerra Mundial e salvaram milhões de vidas.

          Referências: <a
            href="http://www.ic.uff.br/~aconci/evolucao.html#:~:text=Em%201946%2C%20surge%20o%20Eniac,realiza%204.500%20c%C3%A1lculos%20por%20segundo.">
            Lorem</a>
        </p>
      </div>
    </div>
  </div>
</div>
