@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;700&family=Inconsolata&family=Inter&family=PT+Sans:wght@400;700&family=Poppins:wght@400;700&family=Ubuntu:wght@300&display=swap');

.header{
    background-color: #000000;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.container{
    width: 90%;
    display: flex;
    margin: auto;
    justify-content: space-between;
}

.container a{
    align-self: center;
    align-items: center;
    text-decoration: none;
    color: #FFFFFF;
    cursor: pointer;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: xx-large;
}

.navBar{
    color: #FFFFFF;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 70%;
    padding: 0;
    justify-items: end;
    font-size: 14px;
    margin: auto;
    margin-right: 0px;
    font-family: 'Poppins';
    font-weight: 700;
}

.navBar a{
    margin: auto;
    align-self: center;
    align-items: center;
    text-decoration: none;
    color: #FFFFFF;
    cursor: pointer;
    font-size: medium;
}

.navBar li{
    height: auto;
    align-self: center;
}

.intro{
    display: flex;
}

.intro .container{
    flex-direction: column;
}

.introTuring{
    display: flex;
    background-color: #000000;
}

.introTuring .container{
    flex-direction: column;
}

.introNeumann{
    display: flex;
}

.introNeumann .container{
    flex-direction: column;
}

.introENIAC{
    display: flex;
    background-color: #000000;
}

.introENIAC .container{
    flex-direction: column;
}

.introEnt{
    display: flex;
}

.introEnt .container{
    flex-direction: column;
}

.sides{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.leftSide{
    display: flex;
    padding: 15px;
}

.leftSide img{
    height: 65vh;
    width: 65vh;
    object-fit: cover;
    border-radius: 1vh;
}

.leftSide p{
    font-family: 'Poppins';
    font-style: normal;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    padding-right: 19vh;
}

.rightSide img{
    height: 65vh;
    width: 65vh;
    object-fit: cover;
    border-radius: 1vh;
}

.rightSide{
    display: flex;
    padding: 15px;
    flex-direction: column;
}

.rightSide p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    padding-left: 19vh;
}

.titleHomeB{
    font-family: 'PT Sans';
    color: #000000;
    font-size: 48px;
    text-align: center;
    text-decoration: underline #000000 5px;
    text-underline-offset: 2vh;
    font-weight: bold;
    padding: 1vh;
}

.titleHomeW{
    font-family: 'PT Sans';
    color: #ffff;
    font-size: 48px;
    text-align: center;
    text-decoration: underline #ffff 5px;
    text-underline-offset: 2vh;
    font-weight: bold;
    padding: 1vh;
}

.visao h1{
    margin-top: 80px;
}

.integrantes{
    margin-top: 80px;
    display: flex;
    background-color: #000000;
    padding-bottom: 50px;
}

.integrantes .container{
    flex-direction: column;
}

.blocoCards{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.cardIntegrantes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 5px;
    width: 29vh;
    height: 41vh;
    margin: 3vh;
}

.cardIntegrantes img{
    height: 15vh;
    width: 15vh;
    border-radius: 9vh;
    object-fit: cover;
    object-position: top;
}

.integrantes h1{
    color: #FFFFFF;
    text-decoration: underline #FFFFFF 5px;
    margin-top: 50px;
}

.integrantes h4{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
}

.cardIntegrantes h2{
    font-family: 'PT Sans';
    font-weight: 700;
    font-size: 24px;
    text-align: center;
}

.cardIntegrantes h3{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    text-align: center;
}

.sides .leftSide a{
    color: #FFFFFF;
    font-size: inherit;
    font-weight: 100;
    cursor: pointer;
}

.sides .rightSide a{
    color: #000000;
    font-size: inherit;
    font-weight: 100;
    cursor: pointer;
}
